My workflow 2-1.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 13
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -912,
        -144
      ],
      "id": "f83efbf0-0e89-4552-b481-5222f385fc66",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Тема повідомлення: {{ $json.subject }}\nТекст повідомлення: {{ $json.text || $json.html || $json.textAsHtml }}\nВідправник: {{ $json.from.value[0].address }}\nОдержувач: {{ $json.to.value[0].address }}\nДата: {{ $json.date }}\nThread ID: {{ $json.threadId }}\nMessage ID: {{ $json.messageId }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "🎓 ТИ - ЕКСПЕРТ-КОНСУЛЬТАНТ\nТи досвідчений академік, який відповідає на питання простими, зрозумілими реченнями українською мовою. Максимум 100 слів.\n\n📨 ТВОЯ ЗАДАЧА\n1. Прочитай ПИТАННЯ з \"Текст повідомлення\"\n2. Дай експертну відповідь як академік простими словами\n3. Твоя відповідь буде автоматично відправлена email та записана в Google Sheets\n\n📝 СТИЛЬ ВІДПОВІДЕЙ\n- Конкретно по суті питання\n- Без \"води\" та загальних фраз  \n- Дружньо та професійно\n- Максимум 100 слів українською\n\nПриклад:\nПитання: \"як стати багатим\"\nВідповідь: \"Багатство будується на трьох принципах: інвестуйте 10-20% доходу в індексні фонди, розвивайте цінні навички, створюйте пасивні джерела доходу. Головне - почніть зараз, навіть з малих сум. Час ваш найкращий союзник завдяки складним відсоткам.\"\n\n⚠️ ВАЖЛИВО: НЕ ПЕРЕСИЛАЙ ПИТАННЯ - ВІДПОВІДАЙ НА НЬОГО!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -704,
        -144
      ],
      "id": "0b03ba42-a7e2-41a6-bcb1-58434e8b0551",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.threadId }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -704,
        32
      ],
      "id": "bb7b6720-2f19-49c2-ad13-f315c7e80222",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"to\": \"email отримувача\",\n  \"topic\": \"тема листа\",\n  \"message\": \"текст відповіді\"\n}\n\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -288,
        64
      ],
      "id": "4b4f5ea7-b72b-44db-bde8-240fb3901433",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -848,
        64
      ],
      "id": "49e54d46-2e0d-4778-b699-576ff1fecd13",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sendTo": "={{ $node['Gmail Trigger'].json['from']['value'][0]['address'] }}",
        "subject": "=Re: {{ $node['Gmail Trigger'].json['subject'] }}",
        "message": "={{ $json.output.message }}",
        "options": {
          "replyTo": "={{ $node['Gmail Trigger'].json['to']['value'][0]['address'] }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -208,
        -288
      ],
      "id": "ae5ab79c-3dc9-40bd-b7f0-cd714769d5ca",
      "name": "Send Gmail Reply"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "to": "={{ $node['Gmail Trigger'].json['from']['value'][0]['address'] }}",
            "message": "={{ $json.output.message }}",
            "subject": "={{ $node['Gmail Trigger'].json['subject'] }}",
            "threadId": "={{ $node['Gmail Trigger'].json['threadId'] }}",
            "date": "={{ $node['Gmail Trigger'].json['date'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "to",
              "displayName": "to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        -96
      ],
      "id": "d129bc8a-2a1b-4853-a76d-c3ecca08a17d",
      "name": "Log to Google Sheets"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Gmail Reply",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}